<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= naslov %></title>
    <link rel="icon" type="image/png" href="/blasterLogo/Blaster-Logo-Favicon.png">
</head>
<body>
    <header id="heder">
        <div class="ostatakHedera">
            <a href="/"><img src="blasterLogo/Blaster-Logo-Favicon.png" alt="logo"></a>
        <div>
            <a href="/dogadjaji">Догађаји</a>
            <a href="/izvodjaci">Извођачи</a>
            <a href="/podkesti">Подкести</a>
            <a href="/o_nama">О нама</a>
        </div>
        <div class="navmenu">
            <input type="checkbox" name="hamburger" id="hamburger"></input>
            <label for="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="hamburgerovMeni">
                <a href="/dogadjaji">Догађаји</a>
                <a href="/izvodjaci">Извођачи</a>
                <a href="/podkesti">Подкести</a>
                <a href="/o_nama">О нама</a>
        
            </div>
        </div>
        </div>
    </header>
    <section class="homePage">
        <video autoplay muted loop>
            <source src="optimizovaniVidei/ARMATURAA.mp4" type="video/mp4">
            <source src="optimizovaniVidei/ARMATURAA-optimizovana.webm" type="video/webm">
        </video>
        <div class="sadrzajNaslovne">
            <img src="blasterLogo/Blaster-Logo-Favicon.png" alt="logo"> 
        <h1>БЛАСТЕР</h1>
        <div>
            <a href="/dogadjaji"><span>Догађаји</span></a>
            <a href="/izvodjaci"><span>Извођачи</span></a>
        </div>
        </div>
    </section>
    <section class="nadolazeciDogadjaji">
        <h2>Надолазеће журке</h2>


        <div class="zurkeKarticeKratke">
           
            <% if(data.length > 0){ %>
                <% for(let d of data){ %> 

                    <a href="/dogadjaji/<%= d.id %>" class="zurkaKarticaKratka">
                        <img src="<%= d.slika %>" alt="eventSlika">
                        <input type="hidden" value="<%= d.id %>" name="id">
                        <input type="hidden" value="<%= d.vrijeme %>" name="vrijeme">
                        <div class="zurkaKarticaInfoKratka">
                            <div>
                                <p><%= d.vrijemeTekst %></p>
                                <p><%= d.lokacija %></p>
                            </div>
                            <h3><%= d.naslov %></h5>
                            <p><%= d.opis %></p>
                        </div>
                </a>
            <% } %>
            <% } else { %>
                <h2>Nema buducih dogadjaja</h2>
            <% } %>  
        </div>
        

    </section>
    <section class="oNamaUkratko">
        <h2>БЛАСТЕР</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore distinctio voluptatem facere facilis nobis fuga optio, minus necessitatibus, repellendus sequi mollitia explicabo iure dignissimos eveniet veritatis eaque nesciunt quas similique.</p>
    </section>
    <footer>
        <div>
            <h4>Пронађи нас на</h4>
            <a href="#" class="futerDugme">Инстаграм</a>
            <a href="#" class="futerDugme">Фејсбук</a>
            <a href="#" class="futerDugme">Јутјуб</a>
            <a href="#" class="futerDugme">Саундклауд</a>
            <a href="#" class="futerDugme">Бендкемп</a>
        </div>
        <div>
            <h4>Мени</h4>
            <a href="/dogadjaji">Догађаји</a>
            <a href="/izvodjaci">Извођачи</a>
            <a href="/podkesti">Подкести</a>
            <a href="/o_nama">О нама</a>
        </div>
        <div>
            <h4>Контакт</h4>
            <a href="" class="futerDugme">И-мејл</a>
        </div>
    </footer>
</body>
</html>

<script src="/js/zatamniSkrolom.js"></script>